html { scroll-behavior: smooth; } 

body {
            animation: fadeOutAnimation ease 0.2s;
            animation-iteration-count: 1;
            animation-fill-mode: backwards;
        }

@keyframes fadeOutAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.page_body .centered{
 padding-top: 0;
 margin-top: -10px;
 -webkit-tap-highlight-color: transparent;
 outline: none !important;
}

.post-title{
 visibility:hidden;
}

.post-body  img, .modal-content {
  width: 80%;
  max-width: 550px;
}

.post-body  iframe, .modal-content {
  width: 80%;
  max-width: 550px;
}

.post img{
 width: 100%;
}

.post iframe{
 width: 100%;
}

.post-title{
 display:none;
}

div#FeaturedPost1 .myname{
 display: none;
}

.label-view #main{
 margin-top: -70px;
}

.status-msg-body{
 width:90%;
}

.blog-name{
 width:auto;
}

#blog-pager a{
 display:none;
}

.item-view .blog-name {
 margin: 0 0 0px; 
}

.item-view .search, .sticky .search {
 float: left;
 right: auto;
 margin-left: 10px
}

button{
background-color: transparent;
border-radius: 4px;
}

div#HTML5{
     margin-top: -20px
}

div#Label2, div#FeaturedPost1{
background-color: #fff;
border: none;
border-radius: 12px;
box-shadow: 1px 1px lightgrey;
}

div#LinkList1 {
margin-left:30px;
}

.post-outer-container {
 border: none;
 border-radius: 12px;
 box-shadow: 1px 1px lightgrey;
}

.share-buttons li .platform-sharing-text {
 display: none;
}
.svg-icon-24.touch-icon.sharing-link {
 fill: #222222;
}
span.sharing-platform-button.sharing-element-link::after{
content: "Copy";
font-size: medium;
position: absolute;
margin-left: 60px;
margin-top: 11px;   
}
.svg-icon-24.touch-icon.sharing-facebook {
 fill:#1877F2;
}
span.sharing-platform-button.sharing-element-facebook::after{
content: "Facebook";
font-size: medium;
position: absolute;
margin-left: 60px;
margin-top: 11px;   
}
.svg-icon-24.touch-icon.sharing-twitter {
 filter: brightness(0);
 background: black;
 margin: 0;
 padding: 0;
 mask-image: url(https://img.icons8.com/?size=24&id=phOKFKYpe00C&format=png);
}
span.sharing-platform-button.sharing-element-twitter::after{
content: "X";
font-size: medium;
position: absolute;
margin-left: 60px;
margin-top: 11px;   
}
.svg-icon-24.touch-icon.sharing-pinterest {
fill: #bd081c;
}
span.sharing-platform-button.sharing-element-pinterest::after{
content: "Pinterest";
font-size: medium;
position: absolute;
margin-left: 60px;
margin-top: 11px;   
}
.svg-icon-24.touch-icon.sharing-email {
fill: #d44638;
}
span.sharing-platform-button.sharing-element-email::after{
content: "Email";
font-size: medium;
position: absolute;
margin-left: 60px;
margin-top: 11px;   
}

.PopularPosts {
 border: none;
 border-radius: 12px;
 box-shadow: 1px 1px lightgrey;
}

img, iframe {
 border-radius: 8px;
}

.BLOG_video_class {
 border-radius: 8px;
 width:auto;
}

:focus  {
 -webkit-tap-highlight-color: transparent;
 outline: none !important;
}

#myImg {
 border-radius: 8px;
 cursor: pointer;
 transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 10; /* Sit on top */
 padding-top: 50px; /* Location of the box */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 550px;
}

@media only screen and (max-width: 600px) {
.modal-content{
 margin: auto;
 display: block;
 width: 80%;
 max-width: 300px;
}
}   

/* Caption of Modal Image */
#caption {
 margin: auto;
 width: auto;
 max-width: 700px;
 text-align: center;
 color: #ccc;
 padding: 20px 0;
 height: auto;
 font-weight: bold;
 font-size: 2em;
 text-indent: 1em;
 text-shadow: 0px .0px #000;
a {
  color: white;
}
}

.pmodal{
 color: white;
 text-align: center;
}

/* Add Animation */
.modal-content, #caption {  
 -webkit-animation-name: zoom;
 -webkit-animation-duration: 0.6s;
 animation-name: zoom;
 animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
 from {-webkit-transform:scale(0)} 
 to {-webkit-transform:scale(1)}
}

@keyframes zoom {
 from {transform:scale(0)} 
 to {transform:scale(1)}
}

/* The Close Button */
.closebtn {
 position: absolute;
 top: 15px;
 right: 35px;
 color: #f1f1f1;
 font-size: 40px;
 font-weight: bold;
 transition: 0.3s;
}

.close:hover,
.close:focus {
 color: #bbb;
 text-decoration: none;
 cursor: pointer;
}
