body {
  margin: 0;
  overflow: hidden;
  background: black;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

  #rotateNotice {
    display: none;
    position: fixed;
    z-index: 999;
    background: black;
    color: white;
    text-align: center;
    font-size: 2em;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    padding: 2rem;
  }

  @media screen and (orientation: portrait) {
    #rotateNotice {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    canvas {
      display: none;
    }
  }
